@model IRL.Models.ContactDetail

@{
    ViewBag.Title = "Details";
}

<h2>
    @Html.DisplayFor(model => model.FullName)
</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nickname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nickname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>
    </dl>
</div>

<div class="row">
    <div class="container">
        @*@foreach (var item in Model.Interests)
                {
                    <div class="row review">
                        <div class="col-md-12">
                            <p>
                                @Html.DisplayFor(modelItem => item.InterestId)
                            </p>
                        </div>
                    </div>
            }*@

    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        @*<table>
            <tr>
                @{
                    int cnt = 0;
                    List<IRL.ViewModels.ContactInterestData> interests = ViewBag.Interests;

                    foreach (var interest in interests)
                    {
                        if (cnt++ % 3 == 0)
                        {
                            @:</tr><tr>
                        }
                        @:<td>
                            <input type="checkbox"
                                   name="chosenInterests"
                                   value="@interest.InterestId"
                                   @(Html.Raw(interest.Chosen ? "checked=\"checked\"" : "")) />
                                   @interest.InterestId @:  @interest.Interest
                      @:</td>
                    }
                    @:</tr>
                }
            </table>*@
        </div>
    </div>


    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ContactId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
