@model IRL.Models.UserInterestModel

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InterestId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item)
            </th>
        </tr>

        <tr>
            <td>
                @Html.DisplayFor(model => model.UserId)
            </td>
            <td>
                @Html.DisplayFor(model=> model.InterestId)
            </td>
            <td>
                @Html.DisplayFor(model => model.Item)
            </td>
        </tr>
    

    </table>
